__pycache__/
.idea/
*.pyc
*.json
*.json5
*.sqlite
*.log
*.npy
yuiChyan/res/
yuiChyan/plugins/
yuiChyan/config/base_config.json5
yuiChyan/core/princess/CHARA_NAME.json
yuiChyan/core/princess/arena/pcr_config.json
