json5==0.10.0
nonebot==1.9.1
httpx==0.28.1
aiocqhttp==1.4.4
zhconv==1.4.3
pygtrie==2.5.0
pytz==2025.1
APScheduler==3.11.0
websockets==14.2
Jinja2==3.1.5
quart==0.20.0
rocksdict==0.3.25
markdown==3.7
pillow==11.1.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.26.1
beautifulsoup4==4.13.3
numpy==2.2.3
opencv-python==4.11.0.86
pandas==2.2.3
matplotlib==3.10.0
plottable==0.1.5
imgkit==1.2.3
GitPython==3.1.44
lxml==5.3.1
python-dateutil==2.9.0.post0