{# 全局样式 #}
body {
    background-color: #f2f2f2;
    margin: 0;
    text-align: center;
    color: #333;
    display: block;
}
{# 页面文档样式 #}
.container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
}
{# 命令文档 和 关于 页面的样式#}
.command-box, .about-box {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    background-color: #fafafa;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
{# 关于  页面内容的样式 #}
.about-content {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    color: #24292e;
}
{# 字体颜色变化 #}
@keyframes colorFlow {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
{# H1/H2/H3标签的字体样式 #}
h1, h2, h3 {
    color: #333;
    background: linear-gradient(to right, #87CEEB, #FF69B4, #A1D1F5, #FF82A5, #87CEEB);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorFlow 5s linear infinite;
}
{# 搜索框样式 #}
.input-with-reset {
    position: relative;
}
{# 搜索框样式 #}
#searchInput {
    flex: 1;
    padding: 12px 40px 12px 12px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 50px;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
}
{# 搜索框内的提示字体样式 #}
#searchInput::placeholder {
    color: #999;
    opacity: 1;
}
{# 搜索结果的高亮展示 #}
.highlight {
    background-color: rgba(255, 192, 203, 0.8);
    border-radius: 5px;
    padding: 2px;
}
{# 不可见高亮条 #}
.highlight.invisible-highlight {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    color: inherit;
}
{# 搜索框内的重置按钮样式 #}
.reset-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #999;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30px;
    line-height: 1;
}
{# 竖线分隔符样式 #}
.input-with-reset::after {
    content: '';
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 35%;
    background-color: #ddd;
}
{# 搜索框聚焦样式 #}
input[type="text"]:focus {
    border-color: #007BFF;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
    outline: none;
}
{# 将搜索框和搜索按钮设置为一个 Flex 容器 #}
.d-flex {
    display: flex;
}
{# 垂直居中对齐 Flex 项目 #}
.align-items-center {
    align-items: center;
}
{# 按钮颜色变化 #}
@keyframes buttonColorFlow {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
{# 按钮常规样式 #}
button:not(.reset-button) {
    height: 48px;
    padding: 0 20px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to right, #87CEEB, #FF69B4, #A1D1F5, #FF82A5, #87CEEB);
    background-size: 400% 400%;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background 0.5s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    animation: buttonColorFlow 12s linear infinite;
}
{# 按钮悬停样式 #}
button:hover:not(.reset-button) {
    box-shadow: 0 6px 15px rgba(255, 105, 180, 0.5);
    transform: scale(1.05);
}
{# 每个子文档的卡片样式 #}
.transparent-card {
    border: none;
    box-shadow: none;
    margin-bottom: 1rem;
    border-radius: 10px;
}
{# 每个子文档的折叠按钮样式 #}
.accordion .card-header button {
    height: 48px;
    padding: 0 20px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to right, #87CEEB, #FF69B4, #A1D1F5, #FF82A5, #87CEEB);
    background-size: 400% 400%;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background 0.5s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    animation: buttonColorFlow 12s linear infinite;
}
{# 每个子文档的折叠按钮悬停样式 #}
.accordion .card-header button:hover {
    box-shadow: 0 6px 15px rgba(255, 105, 180, 0.5);
    transform: scale(1.05);
}
{# 表格居中 #}
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}
{# 代码块居左 #}
pre {
    text-align: left;
    background-color: #F0F0F0 !important;
    padding: 10px;
    border-radius: 10px !important;
    overflow: auto;
}